@model MyCities2.Models.Batiment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Les informations disponible sur ce Batiment</h4>
    <hr />
    <div class="container text-center">
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <th scope="row">
                        @Html.DisplayNameFor(model => model.Nom)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Nom)
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        @Html.DisplayNameFor(model => model.Longitude)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Longitude)
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        @Html.DisplayNameFor(model => model.Latitude)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Latitude)
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        @Html.DisplayNameFor(model => model.Adresse1)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Adresse1)
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        @Html.DisplayNameFor(model => model.Adresse2)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Adresse2)
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        @Html.DisplayNameFor(model => model.Ville)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Ville)
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        @Html.DisplayNameFor(model => model.CP)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.CP)
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        @Html.DisplayNameFor(model => model.Architecte)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Architecte)
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        @Html.DisplayNameFor(model => model.ImageURL)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.ImageURL)
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        @Html.DisplayNameFor(model => model.Periode_construction_debut)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Periode_construction_debut)
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        @Html.DisplayNameFor(model => model.Periode_construction_fin)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Periode_construction_fin)
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        @Html.DisplayNameFor(model => model.Style)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Style)
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        @Html.DisplayNameFor(model => model.Siteweb)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Siteweb)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<br />

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editer</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>
