@model IEnumerable<MyCities2.Models.Batiment>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Batiments</h1>

<p class="text-center">
    <a class="btn btn-primary" asp-action="Create">Ajouter un nouveau batiment</a>
</p>

<h1 class="text-center">Liste des batiments</h1>


<div class="row card-deck row justify-content-center">
    @foreach (Batiment item in Model)
    {
        <div class="col-4 m-1">
        <div class="card text-white bg-secondary">
             
            <div class="card-header">

                <div class="card-title text-center font-weight-bold">@item.Nom</div>
            </div>

            <div class="card-body">
                <img class="w-25" style="width: 100% !important" src="@item.ImageURL" />

                <div class="card-title text-center">@item.Ville</div>

            </div>

            <div class="card-footer align-self-center">
               <div class="row">

                @Html.ActionLink("Detail", "Details", new { id = item.Id }, new { @class = "btn btn-success  mr-2" })

               @Html.ActionLink("supprimer", "Delete", new { id = item.Id }, new { @class = "btn btn-danger  mr-2" })
               
                @Html.ActionLink("Modifier", "Edit", new { id = item.Id }, new { @class = "btn btn-info  mr-2" })
               </div>
            </div>
        </div>
        </div>
    }
</div>
