@model MyCities2.Models.BatimentReligieux

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BatimentReligieux</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeReligieux)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeReligieux)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Culte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Culte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresse1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresse2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ville)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ville)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Architecte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Architecte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Periode_construction_debut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Periode_construction_debut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Periode_construction_fin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Periode_construction_fin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Style)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Style)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Siteweb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Siteweb)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
